/* GLOBAL */
:root {
    --orange: #f54407;
    --dark-orange: #aa2f05;
    --light-blue: #0da2cf;
    --light-orange: #fdb306;
    --blue: #133e6f;
    --dark-blue: #0f3259;
    --lighter-blue: #2dc7ff;
    --black: #333;
    --background-color: #fff8ea;
    --background-gradient: linear-gradient(#edf9ff, #cbffff);
  }
  
h1,
h2,
h3,
h4 {
  font-family: "Lora", serif;
  text-shadow: none;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  background: var(--background-color);
  box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.3);
  margin-bottom: 80vh;
}
html {
  color: var(--black);
  font-size: 120%;
  background-color: var(--background-color);
  scroll-behavior: smooth;
}
.main-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-areas:
    "header header header header"
    "content content content content";
}
.grid-item.content {
  grid-area: content;
}
.text-center {
  text-align: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

/* NAVIGATION */
nav ul li {
    display: inline;
  }
  nav {
    width: 100%;
  }
  * {
    margin: 0;
    padding: 0;
  }
  .nav-container {
    min-height: 5vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "nav-banner . nav-links";
  }
  .grid-nav-item {
    padding: 2rem;
  }
  .grid-nav-item.banner {
    grid-area: nav-banner;
  }
  .grid-nav-item.links {
    grid-area: nav-links;
  }
  .grid-nav-item.links a {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .grid-item.nav {
    grid-area: header;
  }
  .button{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--background-color);
    border-radius: 0.125rem;
    padding: 0.25rem;
    background-image: linear-gradient(
      to right,
      var(--orange) 50%,
      var(--dark-blue) 50%
    );
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  
  }
  .button.button-light{
    background-image: linear-gradient(
      to right,
      var(--orange) 50%,
      var(--light-blue) 50%
    );
  }
  .bos-hover {
    /* https://wesbos.com/css-highlight-animation/ */
    background-size: 200%;
    transition: all 1s;
    background-position: 100%;
  }
  .bos-hover:hover {
    background-position: 0;
    background-size: 200%;
    transition: all 0.4s;
  }

.nav{
}
  /* HERO */
.container .landing-container{
    display: flex;
    background-color: var(--orange);
    color: var(--background-color);
    padding: 2rem;
    width: 100vw;
    align-items: flex-start;
  }

  .landing{
      
  }
  .container{
      max-width: 1280px;
  }