:root {
    --orange: #f54407;
    --dark-orange: #aa2f05;
    --light-blue: #0da2cf;
    --light-orange: #fdb306;
    --dark-blue: #0f3259;
    --lighter-blue: #2dc7ff;
    --black: #333;
    --background-color: #fff8ea;
    --background-gradient: linear-gradient( #edf9ff,#cbffff) 
}
/* :root {
    --orange: #fd7e8e;
    --light-blue: #5ac7a2;
    --light-orange: #edff91 ;
    --black: #333;
    --background-color: #edf9ff;
    --background-gradient: linear-gradient( #edf9ff,#cbffff) 
}
*/
nav ul li {
    display: inline;
}
nav {
    width:100%;
}
.current {
    color: red;
}
*{
    margin: 0;
    padding: 0;
}
.flex-right{
    margin-left:auto;
    order:2;
}
/* *{
    border: red;
    border-style: solid;
}
*/
h1, h2, h3, h4 {
    font-family: 'Lora', serif;
   /* color:#CF3A3A;
    */
    text-shadow: none;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "liga" on;
   /* text-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    */
}
html{
   /* background: #D31027;
    background: -webkit-linear-gradient(to right, #e60075, #d80073);
    background: linear-gradient(to right, #e60075, #d80073);
    */
    color: var(--black);
    font-size: 150%;
    width: 100vw;
    background-color: var(--background-color);
}
.main-container{
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-areas: "header header header header" "content content content content" ". footer footer ." 
}
.grid-item.content{
    grid-area: content;
}
.grid-item.footer{
    grid-area: footer;
    text-align:center;
    padding: 2rem;
}
.nav-container{
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "nav-banner . nav-links" 
}
.grid-nav-item{
    padding: 2rem;
}
.grid-nav-item.banner{
    grid-area: nav-banner;
}
.grid-nav-item.links{
    grid-area: nav-links;
}
.grid-nav-item.links a{
    margin-left:0.25rem;
    margin-right:0.25rem;
}
.grid-item.nav{
    grid-area: header;
}
@media (min-width: 763px) {
    .landing-container{
        height: 85vh;
        display: grid;
        align-items: center;
        justify-items: center;
        overflow-x: hidden;
        background: 
        linear-gradient(45deg, var(--orange) 26%, var(--orange) calc(26% - 1px), transparent calc(26% - 1px)), 
        linear-gradient(45deg, var(--lighter-blue) 0%, var(--lighter-blue) 27%, transparent 27%),
        linear-gradient(0deg, var(--lighter-blue) 0%, var(--lighter-blue) calc(27% - 1px), transparent 27%),
        linear-gradient(0deg, var(--light-blue) 0%, var(--light-blue) calc(27% - 1px), transparent 27%);
        background-position-y: 0vh, 0vh, 20vh, 7.5vh;
        background-repeat: no-repeat, no-repeat, no-repeat;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "landing-subcontainer landing-subcontainer landing-image landing-image" 
        "landing-subcontainer landing-subcontainer . ." 
   }
    .landing-subcontainer{
        width: calc(50vw - 1rem);
   }
}
@media (max-width: 763px) {
    .landing-container{
        display: grid;
        align-items: center;
        justify-items: center;
        overflow-x: hidden;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "landing-subcontainer" 
        "landing-image" 
   }
}
.landing-subcontainer{
    min-height: 80%;
    padding: 1rem;
    display: grid;
   /* background-image: url(/assets/blob-blue.svg);
    */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    " . landing-banner landing-banner landing-banner . " 
    ". code code code ." 
}
@media (min-width: 763px) {
    .stack-container{
        background: var(--light-blue);
        color: var(--background-color);
        /* background-color: #338c00; */
        background-image: url("https://www.transparenttextures.com/patterns/black-twill.png"); 
        min-height: 90vh;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas: 
        ". stack-image stack-image . stack-open . . . ." 
        ". stack-image stack-image . stack-content stack-content stack-content stack-content ."
        ". stack-image stack-image . . . . stack-closed ." 
   }
}
@media (max-width: 763px) {
    .stack-container{
        display: grid;
        min-height: 90vh;
        grid-template: repeat(2, 1fr);
        grid-template-areas:
        "stack-open ."
        "stack-content stack-content"
        " . stack-closed"
        " stack-image stack-image " 
   }
}
@media (min-width: 763px) {
    .services-container{
        min-height: 100vh;
        background: var(--orange);
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "service-header service-header service-header "
        "service-body-1 service-body-2 service-body-3"
        ". service-subheader ." 
   }
    .service-body{
        width: 25vw;
        height: 25vw;
   }
}
@media (max-width: 763px) {
    .services-container{
        min-height: 90vh;
        background: var(--orange);
        justify-items: center;
        display: grid;
        grid-template: repeat(1, 1fr);
        grid-template-areas: 
        "service-header"
        "service-body-1"
        "service-body-2"
        "service-body-3"
        "service-subheader" 
   }
    .service-body{
        width: 80vw;
        height: 80vw;
   }
}
.grid-content-item.landing-subcontainer{
    grid-area: landing-subcontainer;
}
.grid-content-item.code{
    grid-area: code;
    overflow: auto;
}
.grid-content-item.landing-banner{
    grid-area: landing-banner;
    min-height: 20vh;
}
.grid-content-item.landing-image{
    grid-area: landing-image;
    padding-right: 90%;
}
.grid-content-item.services{
    grid-area: services;
    align-items:end;
}
.grid-content-item.whitespace{
    grid-area: whitespace;
}
.grid-content-item.stack-image{
    grid-area: stack-image;
    align-self: center;
    justify-self: center;
}
.grid-content-item.stack-closed{
    grid-area: stack-closed;
}
.grid-content-item.stack-open{
    grid-area: stack-open;
}
.grid-content-item.stack-content{
    grid-area: stack-content;
}
.grid-content-item.service-header{
    grid-area: service-header;
    /* background: var(--light-primary);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    -moz-box-shadow:    inset 50% 50% 10px var(--light-orange);
    -webkit-box-shadow: inset 0 0 10px  var(--light-orange);
    box-shadow:         inset 0 0 10px  var(--light-orange); */
    
}
.grid-content-item.service-subheader{
    grid-area: service-subheader;
}
.grid-content-item.service-body-1{
    grid-area: service-body-1;
}
.grid-content-item.service-body-2{
    grid-area: service-body-2;
}
.grid-content-item.service-body-3{
    grid-area: service-body-3;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.text-center{
    text-align: center;
}
.whitespace{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.we-make, .stack-open{
    display: flex;
    align-items: flex-end;
    flex-flow: row;
}
.landing-banner, .stack-content, .services-container div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.services .stack-closed{
    display: flex;
    align-items: flex-start;
    flex-flow: row-reverse;
}
.stack-image img{
    width:30vw;
}
.stack-open, .stack-closed{
    min-width: max-content;
    color: var(--dark-blue) 
}
.nav-container a{
    text-decoration: none;
    font-size: 1rem;
    color:var(--background-color);
    border-radius: 0.125rem;
    padding: 0.25rem;
    background-image: linear-gradient(to right,var(--orange) 50%, var(--dark-blue)   50%);
}

.bos-hover{
    /* https://wesbos.com/css-highlight-animation/ */
    background-size: 200%;    
    transition: all 1s;
    background-position: 100%
}
.bos-hover:hover{
    background-position: 0;
    background-size: 200%;
    transition: all 0.4s;
}

.landing-banner{
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: 3.5rem;
}
.landing-banner h1{
    font-size: 4rem;

}
.landing-banner h2{
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--black);
}

.landing-image img{
    max-height: 78vh 
}
.landing-text{
    pointer-events: none;
}
/** Landing Banner 2 **/
.landing-banner-background > span{
    height:100%;
    width:100%;
}
.landing-banner-background{
    /* background: linear-gradient(var(--background-color),rgb(255,248,234,0.1),rgb(255,248,234,0.1),var(--background-color),var(--background-color),var(--background-color),var(--background-color),rgb(255,248,234,0.1),rgb(255,248,234,0.1),var(--background-color)), url(/assets/squiggle.svg); */
    background-size: 0.2rem, 0.2rem;
    background-repeat: repeat-y;
    background-position: center;
    z-index: 0;
}
.landing-banner h1{
    z-index: 1;
}
.landing-banner-background.background-active > span {
   /* background-image: linear-gradient(var(--orange),var(--orange));
    */
    background-clip:content-box;
}
.landing-banner-background > span > span.inner-border {
    margin: 0.1rem;
   /* border: var(--orange) solid 0.35rem;
    */
}
/** We Make **/
.we-make-background > span{
    height:100%;
    width:100%;
}
.services-background > span{
    height:100%;
    width:100%;
}
/**STACK CONTAINER**/
/**Stack Image **/
.stack-image img{
    z-index: 5;
    position: relative;
}
.stack-image-background.background-active > span{
    transform: rotate(45deg);
    border: solid var(--dark-blue);
    height:25vw;
    width:25vw;
}
.stack-image-background > span {
   /* transform: scaleY(2);
    */
    background-clip:content-box;
    z-index: 1;
    transform: rotate(15deg);
    display: inline-grid;
    position: relative;
    transform-origin: center;
    transition: all 0.5s ease-in-out;
    border-radius: 1rem;
   /* transition-delay: 0.2s;
    */
    background-image: linear-gradient(var(--background-color),var(--background-color));
    height:15vw;
    width:15vw;
}
/**SERVICES CONTAINER**/
.services-container h2, .services-container h3{
    color: white;
}
.service-header h3{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    /* color: var(--light-orange)  */
    font-family: 'Source Sans Pro', sans-serif;
    /* -webkit-text-stroke-color: var(--dark-orange);
    -webkit-text-stroke-width: 3px; */
    color: var(--dark-orange);
    
}
.services-container h3{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.services-container h4{
    font-size: 1.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: white;
    display: flex;
    justify-content: top;
    flex-direction: column;
    text-align: center;
}
.services-container p{
    color: var(--light-blue);
    max-width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 1rem;
}
.service-body{
    color: var(--light-orange);
    border: solid var(--light-orange);
    border-radius: 1rem;
    margin-bottom: 2rem;
    background: url(/assets/dotted-circle.svg) center 20% / 260px 260px no-repeat var(--dark-blue);
    height: min-content;
}
.service-body img{
    max-height: 90%;
    max-width: 90%;
}
.service-body{
    transition: transform .2s ease-in-out;
}
.service-body:hover{
    transform: scale(1.1) 
}
pre{
    color: white;
}
.var-highlight {
    color: var(--light-blue);
}
.string-highlight {
    color: var(--light-orange);
}
#typewriter {
    margin: 0;
    font-family: "Courier New";
}
.code-window::before{
    border-radius: 6px 6px 0px 0px;
    content: "";
    background-color: var(--black);
    width: 100%;
    display: block;
    height: 0.2em;
    position: relative;
    padding-bottom: 1rem;
    margin-left: -1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 0.15rem;
    margin-bottom: -1.25rem;
}
.code-comment{
    padding-bottom: 0.5rem;
    color: grey;
} 
.code-window-button:nth-child(odd){
    background: var(--orange) none repeat scroll 0% 0%;
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 12px;
    position: relative;
    left: 100%;
    padding-top: -12px;
}
.code-window-button:nth-child(even){
    background: var(--light-orange) none repeat scroll 0% 0%;
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 12px;
    position: relative;
    left: 93%;
    padding-top: -12px;
}
.code-window{
    border-radius: 0.15rem;
    font-size: 1rem;
    line-height: 1.25rem;
    min-height: 16rem;
    background-color: var(--dark-blue);
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}
#typewriter:after {
    content: "|";
    -webkit-animation: blink 500ms linear infinite alternate;
    animation: blink 500ms linear infinite alternate;
}
@-webkit-keyframes blink {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 1;
   }
}
@keyframes blink {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 1;
   }
}

/** HIGHLIGHTING EFFECTS **/
/** Pretty Neat **/

.landing-text {
    -webkit-text-stroke-width: 3px;
    -moz-text-stroke-width: 3px;
    text-shadow: 7px -3px #2dc7ff;
    color: transparent;
    color: var(--orange);
    -webkit-font-smoothing: antialiased;
}

.tasty-text{
    text-shadow: 2px -2px var(--light-orange);
    color:  var(--dark-blue);
}

.tasty-subtext{
    color:  var(--dark-blue);
}

.landing-container img, .service-body {
    -webkit-filter: drop-shadow(5px -3px 5px var(--lighter-blue));
    filter: drop-shadow(5px -3px 0px var(--lighter-blue));
  }

 
  /* POPOVER */
/* Added to solve the z-order problem of IE */  
.info:hover {  
    z-index:2;  
}  
/* End */  
.info > span{  
    display: none;  
    width: 0rem;
    transition: width 1s;
    -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */

}  
.info:hover > span{  
 display:block;  
 position:absolute;  
 z-index:1;  
 left: 100%;  
 width:4rem;  
 border: none !important;
 background-color:var(--background-color);  
 color:var(--black);  
 font-size:1rem;  
 font-weight:normal;  
 padding:3px;  
 line-height:1.5rem;  
 height: 80%;
 z-index: 23;
}  