---
layout: default
title: blog
---
<style>
  {% include css/blog-list.css %}
</style>
<title>The PrettyNeat blog!</title>
<div class="container">
    <div class="hero-container">
      <div class="text">
        <h1 class="title">Blog</h1>
        <h2 class="sub-title">Pretty stories and Neat things</h2>
      </div>
      <div class="image">
        <img src="/assets/flame-searching.png" width="400" />
      </div>
      <div class="stripe"></div>
    </div>
    <div class="content-container">
      <span class="">
        <div class="header-and-text" id="recent-blogs">
          <h3>Latest from the blog</h3>
          <div class="blog-list">
            {% for post in site.posts %}            
              <div class="blog-list__post">
                <div class="blog-list__post__header">
                  <div class="blog-list__post__header__talking-head">
                    <img  src="/assets/authors/{{ post.author | default: 'PrettyNeat'  | slugify }}.thumb.png" alt="A nice picture of {{ author | default: 'PrettyNeat' }}"/>
                  </div>                  
                  <a href="{{ post.url }}" title="Read '{{ post.title }}'">
                    <h4>{{post.title}}</h4>
                  </a>
                  <div class="blog-list__post__header__by">
                    
                    
                  </div>
                </div>
                <div class="blog-list__post__excerpt">                  
                  {{ post.excerpt }} <a href="{{ post.url }}" class="keep-reading">Keep reading</a>
                </div>
                <div class="blog-list__post__footer">
                  {% if post.timeToRead %}
                    A <span class="blog-list__post__footer__reading-time">{{ post.timeToRead }}</span> read, posted
                  {% else %}
                    Posted
                  {% endif %}
                  on {{ post.date | date_to_long_string: 'ordinal'}} by {{ post.author | default: 'PrettyNeat' }}
                  and 
                  {% if post.tags.size > 0 %}
                    tagged 
                    {% for tag in post.tags %}
                      <span class="blog-list__tag">{{ tag }}</span>
                    {% endfor %}
                  {% else %}
                    not tagged
                  {% endif %}
                </div>
              </div>
            {% else %}
              <h4>There are no posts at all!</h4>
              <h5>We are very sad about that, and it's probably an error.</h5>
            {% endfor %}
          </div>
        </div>
        <div class="header-and-text" id="tag-cloud">
          <h3>Need more?</h3>        
          See all of our {{ site.posts | size }} posts in our <a href="{{ link blog/index.html }}" title="Browse the archives">Blog Archives</a>
        </div>
      </span>
    </div>
  </div>