---
layout: default
---
<style>
 {% include css/landing-hero.css %}
</style>
<title>PrettyNeat!</title>
<div class="landing-container blending landing-container-background">
    <div class="grid-item landing-subcontainer">
        
        
        
        <div class="grid-content-item code">
            <h1 class="text-center landing-text t-stroke t-shadow" style="font-size: 5rem;">Pretty Neat</h1><h2 style="text-align: center;">Software House</h2><div>
            
        </div><div class="code-window">
                <span class="code-window-button"></span>
                <span class="code-window-button"></span>
<pre id="typewriter">
<span class=" ">/* Service Summary */ </span>
<span class="var-highlight " >let</span> <span class="code-comment">prettyneat</span> = {
    write: <span class="string-highlight">'Code'</span>,
    think: <span class="string-highlight">'Design'</span>,
    make:[
        <span class="string-highlight">'Websites'</span>,
        <span class="string-highlight">'Apps'</span>,
        <span class="string-highlight">'Consultants'</span>
        ];
};
 </pre>
            </div>
        </div>
    </div>
    <div class="grid-content-item landing-image">
        <img alt="cartoon robots giving ok sign"  src="/assets/taxi/taxi-page-under-construction.svg" />
    </div>
<a href="#services" aria-label="scroll down button" class="scroll-down">
    <span class="scroll-button"></span>
</a>
</div> 

<div id="services" class="services-container">
    <div class="grid-content-item service-header">
        <h3>
            we code the <span class="tasty-text"> tastiest tech </span> this side of the globe
        </h3>
    </div>
    <div class="service-body-container">
    <div class="grid-content-item service-body-1 service-body">
        <span class="card-side card-front">

            <img alt="cartoon business person" src="/assets/taxi/taxi-teamsport.png"/>
            <h4>Enterprise Web Applications</h4>
            <p class="service-body-subheader"> We automate systems, to keep things simple at home, in-office, or on the go. </p>
        </span>
        <span class="card-side card-back">
            <span class="card-icons">
                <img src="/assets/tech-icons/postgresql.svg" alt="postgres icon" class="tech-icon">
                <img src="/assets/tech-icons/SQLServer.svg" alt="sqlserver icon" class="tech-icon">
                <img src="/assets/tech-icons/dotnet.svg" alt="dotnet icon" class="tech-icon">
                <img src="/assets/tech-icons/vue.svg" alt="vue icon" class="tech-icon">
            </span>
            <span>
                <h4>Monolith or Microservice?</h4>
                <p class="tech-text">
                    Organizations are complex, but the tools shouldn't be. 
                    We'll architect a system that works for you.
                </p>
            </span>
            </p>
        </span>
    </div>
    <div class="grid-content-item service-body-2 service-body">
        <span class="card-side card-front">
            <img alt="cartoon cloud and human brain" src="/assets/taxi/taxi.png"/>
            <h4>Cloud Applications and SaaS</h4>
            <p  class="service-body-subheader"> We help provide the security, high performance and cost-effectiveness of doing things online.</p>
        </span>
        <span class="card-side card-back">
            <span class="card-icons">     
                <img src="/assets/tech-icons/aws.svg" alt="aws icon" class="tech-icon">
                <img src="/assets/tech-icons/ubuntu.svg" alt="ubuntu icon" class="tech-icon">
                <img src="/assets/tech-icons/windows.svg" alt="windows icon" class="tech-icon">
                <img src="/assets/tech-icons/docker.svg"alt="docker icon" class="tech-icon">
            </span>
            <span>
                <h4>Serverless, Containers or VPS?</h4>
                <p class="tech-text">
                    Start local, take it global. From bots to subscription services - 
                    we'll put together a platform and stack combination that scales. 
                </p>
            </span>
        </span>
    </div>
    <div class="grid-content-item service-body-3 service-body">
            <span class="card-side card-front">
                <img alt="cartoon hand coming out of phone" src="/assets/taxi/taxi-family.png"/>
                <h4>Mobile and Multiplatform</h4>
                <p  class="service-body-subheader"> We create responsive applications that adapt to your customers’ habits no matter what their device is!</p>
            </span>
        <span class="card-side card-back">
            <span class="card-icons">
                <img src="/assets/tech-icons/ios.svg" alt="ios icon" class="tech-icon">
                <img src="/assets/tech-icons/swift.svg" alt="swift icon" class="tech-icon">
                <img src="/assets/tech-icons/android.svg" alt="android icon" class="tech-icon">
                <img src="/assets/tech-icons/java.svg" alt="java icon" class="tech-icon">
            </span>
            <span >
                <h4>Cross Platform or Native?</h4>
                <p class="tech-text">
                    Sometimes a responsive web app is all it takes. 
                    Other times, the only way forward is native. 
                    We'll help you figure out when its the right fit.
                </p>
            </span>
        </span>
    </div>
    <div class="grid-content-item service-subheader">
    </div>
</div>
</div>
<div class="stack-container ">
    <div class="grid-content-item stack-image stack-image-background">
    <span class="stack-image-background">
    </span>
    </div>
    <div class="grid-content-item stack-image stack-stripe">
        <img src="/assets/taxi/payment-processed-4.png" alt="cartoon engineer">
    </div>
    <div class="grid-content-item stack-open">
        <h2 class="flex-right">pick a stack...</h2>
    </div>
    <div class="grid-content-item stack-content">
        <span class="stack-text-container">
            <p class="text-center">Websites, mobile apps, digital games, and virtual or augmented reality experiences are our bread and butter. </p> 
            <br>
            <p class="text-center">We work with businesses and individuals to design and develop products, modernize internal systems, and bring digital services to market.</p> 
        </span>
    </div>
    <div class="grid-content-item stack-closed">
        <h2 class="float-left">...any stack</h2>
    </div>
</div>
    {% include closing.html %}
<style>
    {% include css/landing-remainder.css %}
</style>
<script>
    {% include js/landing.js %}
</script>