<div class="closing-section">
    <div class="contact-us">
        <span class="contact-text text-center">Contact us today!</span>
        <form class="contact-inputs" name="submit-to-google-sheet">
            <label>
                <strong>Message</strong>
                <textarea rows="2" name="message" placeholder="I like what you've got cooking. I want one!"></textarea>
            </label>
            <label>
                Email
                <input type="email" name="email" placeholder="email@company.com"></input>
            </label>
            <div class="submit-container">
                <button class="bos-hover button button-light submit-button" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <script>
        const scriptURL = 'https://script.google.com/macros/s/AKfycbyqXqWBkeVr2FTfzr2C_yrh4edZ2uZtb9luJ_bsNJxz5kR6rSTa/exec'
        const form = document.forms['submit-to-google-sheet']

        form.addEventListener('submit', e => {
            e.preventDefault();
            if(e.target[0].value.length > 1 && e.target[0].value.length > 1){
                fetch(scriptURL, { method: 'POST', body: new FormData(form) })
                    .then(response => alert("Success, message sent! We'll be in touch shortly.", response))
                    .catch(error => alert("Oh no! Something went wrong. Could you refresh and try again?", error.message))
            }
        });
    </script>
    <div class="grid-item footer">
        {% include footer.html %}
    </div>
</div>