{% if page.url == '/' %}
<meta
  name="Description"
  content="Pretty Neat Software Development & Design. Timely delivery, uncompromising quality, 
  and transparency of process is the Pretty Neat approach.
  Websites, mobile apps, digital games, enterprise web apps and virtual or augmented reality
  experiences are our bread and butter. Come check out what we've got cooking!"
/>
{% endif %} {% if page.url == '/about.html' %}
<meta
  name="Description"
  content="Timely delivery, uncompromising quality, and transparency of process are our guiding principles. 
  We care deeply about product experience and we're focused on delivering truly world-class
   software that people love using. We leverage agile methodologies, software development 
   best practices and cutting edge technology to deliver elegant solutions reflecting our 
   passion for writing pristine code. We care about our company culture and invest in people to 
   create diverse teams of highly skilled developers."
/>
{% endif %} {% if page.url == '/careers.html' %}
<meta
  name="Description"
  content="Life is too short to work with people you don’t like.
   We are always looking for talented developers with a range of backgrounds, personalities, 
   and skill sets who love to collaborate on cool projects and products. We're remote friendly. 
   While we require our developers be based in Malta, we're pretty flexible about 
   working outside the office a couple of days a week if you need to.
   We also have Beer Fridays (if you don't drink, no pressure), and an on-premises gym
    is under construction for those who like to squeeze in a few breakfast reps."
/>
{% endif %}
