<nav class="nav-container">
  <span class="grid-nav-item banner">
    <a
      href="{{ site.baseurl }}/"
      class="{% if page.url == '/' %}current{% endif %} button float-left bos-hover"
      >Pretty Neat</a
    >
  </span>
  <span class="grid-nav-item links">
    <a
      href="{{ site.baseurl }}/careers.html"
      class="{% if page.url == '/careers.html' %}current{% endif %} button float-right bos-hover"
      >Careers</a
    >
    <a
      href="{{ site.baseurl }}/about.html"
      class="{% if page.url == '/about.html' %}current{% endif %} button float-right bos-hover"
      >About</a
    >
  </span>
</nav>
