<div class="nl-subscribe">
<h3>Receive the latest and greatest on your electron-based letterbox!</h3>
<p>Would you like to receive all the latest news and updates from PrettyNeat in a convenient and condensed fashion to your email?</p>
<p>It's as easy as one - two - three:</p>
<div class="nl-subscribe__frame">
    <form class="nl-subscribe__wizard">
        <div class="nl-subscribe__wizard__step nl-subscribe__wizard__step--next">
            <div class="nl-subscribe__wizard__step__number">1:</div>
            <div class="nl-subscribe__wizard__step__content">
                <label for="nl-email-box">Type your email here:</label>
                <input type="email" id="nl-email-box" placeholder="your@email.you" onchange="nl_wizard_test()" onkeyup="nl_wizard_test()" onblur="nl_wizard_test()" oninput="nl_wizard_test()"/>
            </div>
            <div class="nl-subscribe__wizard__step__next">
                <span>Type a valid email to continue...</span>
                <a href="javascript:;" onclick="nl_wizard_next()" title="confirm email!">NEXT</a>
            </div>
        </div><div class="nl-subscribe__wizard__step nl-subscribe__wizard__step--future">
            <div class="nl-subscribe__wizard__step__number">2:</div>
            <div class="nl-subscribe__wizard__step__content">
                <p>Acknowledge that we will only use this email to send you updates on PrettyNeat and will never share it with anyone, and that you can unsubscribe at any time.</p>
            <label class="button-ify" for="nl-accept-terms">I'm cool with that <button type="button" onclick="nl_consent = true; nl_wizard_test();" id="nl-accept-terms" class="nl-subscribe__thumbutton">👍</button></label>
            </div>
            <div class="nl-subscribe__wizard__step__next">
                <span>Please let us know you're cool with that...</span>
                <a href="javascript:;" onclick="nl_wizard_next()" title="confirm terms!">NEXT</a>
            </div>
        </div><div class="nl-subscribe__wizard__step nl-subscribe__wizard__step--future">
            <div class="nl-subscribe__wizard__step__number">3:</div>
            <div class="nl-subscribe__wizard__step__content">
                <p>All set, we will be sending updates from news@prettyneat.io to you:</p>
                <span class="esteemed-user"></span>
                <p>Just so you know, you'll be receiving a first update letting you know we've subscribed you soon after you click the final button :)</p>
            </div>
            <div class="nl-subscribe__wizard__step__next">
                <span>We're all set...</span>
                <a href="javascript:;" onclick="nl_wizard_next()" title="get news!">NICE</a>
            </div>        
        </div>
    </form>
</div>
<div class="nl-subscribe__done">
    <p>...and you're done! Thank you so much!</p>
</div>
</div>