.blog-list{
    width: 100%;
}

.blog-list *{
    box-sizing: border-box;
}

.blog-list__post{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 3.1rem;
}

.blog-list__post__header{    
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    padding: 0;
}

.blog-list__post__header__talking-head{
    display: none;
    position: absolute;
    left: -1.2rem; 
    top: 0rem;
    background-color: rgba(255,255,255,1);
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 0.5rem;
    border-radius: 100%;

}

.blog-list__post__header__talking-head img{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
    box-shadow: 3px -1px 0 var(--orange);
    border: 0.15rem solid var(--lighter-blue);     
    z-index: 1;
    position: relative;
}

.blog-list__post__header__talking-head::before{
    position: absolute;
    right: -0.45rem;
    height: 0;
    top: 0.2rem;
    width: 0;
    border-top: 0.6rem solid transparent;
    border-bottom: 0.6rem solid transparent;
    border-left: 0.6rem solid var(--orange);
    content: ' ';    
    z-index: 0;
}

.blog-list__post__header a{
    text-decoration: none; 
    align-self: center;   
}

.blog-list__post__header a h4{
    margin: 0;
    padding: 0;
    display: block;    
    color: var(--blue); 
}

.blog-list__post__header__by{      
    margin-left: auto;  
    margin-right: 0.6rem; 
    flex: 0 0 auto;
    display: flex;   
    flex-flow: column wrap; 
    max-height: 2.2rem;
    opacity: 0.7;  
    margin-bottom: -0.2rem;  
}

.blog-list__post__header__by h5{       
    
    font-style: italic;
    font-size: 0.6em;
    display: inline-block
}

.blog-list__post__excerpt{
    margin: 0.4rem 0.1rem 0 0.1rem;
    width: 100%;
    display: block;
    position: relative;
    border-top: 1px solid var(--dark-blue);
    border-bottom: 1px solid var(--dark-blue);
    padding: 0 2.3rem 0.2rem 2.3rem;
}

.blog-list__post__excerpt p{
    display: inline;
}

.blog-list__post__excerpt__tags{
    width: 100%;
    font-size: 0.7em;
    text-align: right;
    display: block;
    color: rgba(0,0,0,0.7);
}

.blog-list__post__excerpt::before{
    display: block;
    position: absolute;
    width: 2rem;
    height: 4rem;
    top: -0.8rem;
    left: 0rem;
    content: '“';
    font-size: 4rem;
    font-weight: bold;
    color: var(--blue);
}

.blog-list__post__excerpt::after{
    display: block;
    position: absolute;
    width: 2rem;
    height: 4rem;
    bottom: -1.3rem;
    right: 0rem;
    content: '”';
    font-size: 4rem;
    font-weight: bold;
    color: var(--blue);
}

.blog-list__post__footer{
    font-size: 0.75em;    
    text-align: right;
    
    
    width: auto;    
        
    color: var(--lighter-blue);
    
    margin-left: auto;
    margin-right: 1.3rem;
    opacity: 0.9;
    
    color: rgba(0,0,0,0.7);
}

.blog-list__post__footer a{

    text-align: right;
    color: rgba(255,255,255,1) !important;
    float: right;
    margin-right: 0;

}

.blog-list__post__footer__reading-time{
    letter-spacing: -0.1rem;
    font-family: monospace;
    color: var(--blue);
    padding: 0 0.2rem;
}

.blog-list__tag{
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.08em;
    font-size: 0.8em;
    padding: 0.1rem 0.2rem;
    border-radius: 0.1rem;    
    
    display: inline-block;        
}

.blog-list__tag::before{
    content: '[';
    font-size: 0.7em;
    display: inline-block;
    padding-right: 0.2rem;
    transform: translate(0,-0.09rem);
}
.blog-list__tag::after{
    content: ']';
    font-size: 0.7em;
    display: inline-block;
    padding-left: 0.2rem; 
    transform: translate(0,-0.09rem);    
}

.align-fixer{
    display: inline-block;
    width: 1.2rem;
    margin-right: 0.2rem;
    text-align: right;
    font-style: normal;
}

@keyframes reading-dots{
    0%{ content: '.'; }
    33%{ content: '..'; }
    67%{ content: '...'; }
    100%{ content: '.'; }
}

a.keep-reading{
    font-style: italic;
    color: var(--dark-blue) !important;
    display: inline;
    font-size: 0.9em;
}

.keep-reading::after{
    content:'.';
    animation: reading-dots 3s linear infinite running;
}