.blog-list{
    width: 100%;
}

.blog-list *{
    box-sizing: border-box;
}

.blog-list__post{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 3.1rem;
}

.blog-list__post__header{    
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 0 1.1rem 0 1.1rem;
}

.blog-list__post__header a{
    text-decoration: none; 
    align-self: center;   
}

.blog-list__post__header a h4{
    margin: 0;
    padding: 0;
    display: block;
    text-shadow: 2px -1px var(--blue);   
    color: var(--orange); 
}

.blog-list__post__header__by{      
    margin-left: auto;  
    margin-right: 2.85rem; 
    flex: 0 0 auto;
    display: flex;   
    flex-flow: column wrap; 
    max-height: 2.2rem;
    opacity: 0.7;    
}

.blog-list__post__header__by img{    
    background-color: rgba(255,255,255,1);
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 0.5rem;
    border-radius: 0.1rem;
    box-shadow: 3px -1px 0 var(--orange);
    border: 0.15rem solid var(--lighter-blue);
}

.blog-list__post__header__by h5{       
    height: 1.1rem;
    font-style: italic;
    font-size: 0.7em;
    display: inline-block
}

.blog-list__post__excerpt{
    margin: 0.4rem 1.2rem 0 1.2rem;
    width: 100%;
    display: block;
    position: relative;
    border-top: 1px solid var(--lighter-blue);
    border-bottom: 1px solid var(--lighter-blue);
    padding: 0 0.6rem 0.2rem 0.6rem;
}

.blog-list__post__excerpt::before{
    display: block;
    position: absolute;
    width: 2rem;
    height: 4rem;
    top: -1rem;
    left: -1.7rem;
    content: '“';
    font-size: 4rem;
    font-weight: bold;
    color: var(--lighter-blue);
}

.blog-list__post__excerpt::after{
    display: block;
    position: absolute;
    width: 2rem;
    height: 4rem;
    bottom: -1.5rem;
    right: -1.7rem;
    content: '”';
    font-size: 4rem;
    font-weight: bold;
    color: var(--lighter-blue);
}

.blog-list__post__excerpt a{
    font-size: 0.8em;
    text-align: right;
    color: rgba(255,255,255,1) !important;
    float: right;
}

.blog-list__post__excerpt__reading-time{
    display: inline-block;
    float: right;
    font-size: 0.8em;
    color: var(--lighter-blue);
    padding-right: 0.2rem;
    padding-top: 0.25rem;
    margin-top: 0.25rem;
}

.blog-list__post__footer{
    font-size: 0.7em;
    text-align: right;
    padding: 0.5rem 1rem;
    font-style: italic;
    width: auto;    
    justify-self: end;    
    color: var(--lighter-blue);
    border: 1px solid var(--lighter-blue);
    border-top-width: 0;
    border-radius: 0 0 0.2rem 0.2rem;
    margin-left: auto;
    margin-right: 1.3rem;
}

.blog-list__tag{
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.25em;
    font-size: 0.8em;
    padding: 0.1rem 0.2rem;
    border-radius: 0.1rem;
    border: 2px solid var(--lighter-blue);
    margin-right: 0.2rem;
    display: inline-block;        
}

.blog-list__tag::before{
    content: '[';
    font-size: 0.7em;
    display: inline-block;
    padding-right: 0.1rem;
    padding-bottom: 0.3em;
}
.blog-list__tag::after{
    content: ']';
    font-size: 0.7em;
    display: inline-block;
    padding-left: 0.1rem; 
    padding-bottom: 0.3em; 
}