<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pretty Neat!</title>
  </head>
  <body class="main-container">
    <header class="grid-item nav">
      {% include nav.html %}
    </header>
    <div class="grid-item content">
      {{ content }}
    </div>
  </body>
  <footer>
    <link
      <link
      href="https://fonts.googleapis.com/css?family=Lora|Source+Sans+Pro:400,600&display=swap"
      rel="stylesheet"
    />
    {% if page.url != '/' %}
    <link href="{{ site.baseurl }}/css/common.css" rel="stylesheet" />
    {% endif %}
  </footer>
</html>
